$color-ledger-header: #CCCCCC
$color-ledger-data1: #C5CCC2
$color-ledger-data2: #B8CCC9

.ledger-container 
  margin-top: 2rem
  
.ledger-header
  table-layout: fixed
  border-collapse: collapse
  width: $table-inner

  th, td
    border: 1px solid #ddd

.ledger-data
  table-layout: fixed
  border-collapse: collapse
  width: $table-inner
  
.ledger-data-container 
  height: $table-outer
  overflow: auto

  th, td
    border: 1px solid #ddd

th
  text-align: left
  background-color: $color-ledger-header

.ledger-data-container 
  tr
    background-color: $color-ledger-data1

  tr:nth-of-type(2n)
    background-color: $color-ledger-data2

.turn
  width: 40px
  text-align: center