.ledger-header
  table-layout: fixed
  border-collapse: collapse
  width: 300px

.ledger-data
  table-layout: fixed
  border-collapse: collapse
  width: 300px
  
.ledger-data-container 
  height: 325px
  overflow: auto

th
  text-align: left
  width: 50%

.ledger-container
  margin-right: 1rem
