.button-container
  margin: 2rem 0

%button
  width: 200px
  height: 40px
  padding: $size-s
  border-radius: $size-l
  border: none

  &:hover
    cursor: pointer

.button-next, .button-deal
  @extend %button